{{page-title "Fulcrum - Umbrel"}}

<div id="app" class="min-h-full bg-slate-100 dark:bg-neutral-800 w-full">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
    <transition name="loading" mode>
      {{#if this.isIframe}}
        <div class="flex col items-center justify-center">
          <img alt="Fulcrum" src="/assets/icon.svg" class="mb-5 logo" />
          <span class="text-muted w-75 text-center">
            <small>For security reasons this app cannot be embedded in an iframe.</small>
          </span>
        </div>
      {{else}}
        <loading v-else-if="loading" :progress="loadingProgress"> </loading>
        <!-- component matched by the route will render here -->
        {{outlet}}
      {{/if}}
    </transition>
  </div>
</div>